@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-color: #242424;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 20px 70px;

    img {
        width: 182px;
        height: 80px;
        margin-left: 6rem;
    }

    .btnfirst {
        background-color: #ff0000;
        padding: 8px 25px;
        border: none;
        border-radius: 7px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        margin-right: 50px;
    }

    .btnsecond {
        border: 1px solid white;
        background-color: transparent;
        padding: 8px 25px;
        font-size: 20px;
        border-radius: 7px;
        color: white;
    }
}

.firstcontent {
    display: flex;
    justify-content: space-between;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 7rem;

    h1 {
        font-size: 5rem;
        font-weight: 700;
    }

    h2 {
        font-weight: 400;
        font-size: 4rem;
    }
}

.secondcontent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;

    img {
        width: 21vw;
    }

    section {
        width: 25rem;

        h3 {
            font-size: 25px;
            margin-top: 20px;
        }

        p {
            font-size: 20px;
            margin-top: 20px;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    height: 8vh;
    background-color: #141414;

    ul {
        display: flex;
        list-style: none;

        a {
            color: white;
            text-decoration: none;
            font-size: 30px;
            font-weight: 700;
            margin-left: 11rem;
        }
    }
}